.wavlerinsuranceDetailContainer {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 22rpx;
  color: #333333;

  .group {
    padding: 0 0 15rpx 0;
    border-bottom: 1px solid #F2F2F2;
  }

  .title {
    font-size: 22rpx;
    color: #999999;
    margin: 8rpx 0;
  }

  .btnGroup {
    margin-top: 18rpx;
  }
}
