.compareInsuranceContainer {
  padding: 0 20rpx 240rpx;
  font-family: PingFangSC, PingFang SC;
  position: relative;

  .formGroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .compareCardGroup {
    margin-top: 20rpx;
  }

  &:first-of-type(.compareCardGroup) {
    margin-top: 0;
  }

  .chartHeaderGroup {
    font-family: PingFangSC, PingFang SC;
    color: #333333;
    text-align: center;
    .title {
      margin-top: 40rpx;
      display: flex;
      flex-wrap: nowrap;
      gap: 8rpx;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 28rpx;
    }

    .legendGroup {
      margin-top: 30rpx;
      font-weight: 400;
      font-size: 20rpx;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .legendList {
        text-align: left;
        view {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -28rpx;
            transform: translateY(-50%);
            width: 16rpx;
            height: 4rpx;
            border-radius: 4rpx;
          }
        }

        view:nth-of-type(3n + 1) {
          &:after {
            background: #1777FF;
          }
        }

        view:nth-of-type(3n + 2) {
          &:after {
            background: #00E390;
          }
        }

        view:nth-of-type(3n + 3) {
          &:after {
            background: #FF7C65;
          }
        }
      }
    }
  }

  .warningMessage {
    font-weight: 400;
    font-size: 20rpx;
    color: #747474;
  }

  .shareControlGroup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 108rpx;
    background: #FFFFFF;
    box-shadow: 0 0 12rpx 0 rgba(82,82,82,0.25);
    z-index: 7;
    padding: 18rpx 40rpx 18rpx 80rpx;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .settingBtn {
      font-weight: 400;
      font-size: 20rpx;
      color: #999999;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 50rpx;
        width: 50rpx;
        height: 50rpx;
      }
      .msg {
        margin-top: 6rpx;
      }
    }

    .shareBtn {
      width: 100%;
      max-width: 460rpx;
      height: 72rpx;
      overflow: hidden;
      border-radius: 72rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #ffffff;
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .msg {
        z-index: 1;
      }
    }
  }
}
